*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

body{
    background-color: #f5f5f5;

}

.container{
    width: 400px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

button, .voltar {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

button:hover{
    background-color: #3e8e41;

}

.error{
    color: red;
    margin-top: 10px;
}

.sucess{
    color: green;
    margin: 10px ;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; 
       
}

table th, table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th{
    background-color: #4caf50;
    color: white;
}

.escolha {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a{
    text-decoration: none;
}

.escolha a, .botao a, .voltarlistagem a{
    margin: 5px;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(255, 76, 76);
    color: white;
    border-radius: 4px;
    
}

.registroevoltar{
    display: flex;
    justify-content: space-between;
}

.voltarlistagem{
    display: flex;
    justify-content:center;

}

.escolha h1{
    margin-bottom: 30px;
}

.tabela a{
    display: flex;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
}